html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color : aliceblue;
}

#formlog{

    text-align: center;

}
#header1{

   position:relative;
   background-color: cornflowerblue;

}
.cx-1{

   text-align:center;
}

.cx-2{

    text-align:center;
}

.body1 {
    background-image: url('../img/vecteezy_web-analysis-and-development-team_.jpg');
    background-repeat: no-repeat;
    background-size: 600px 700px;
    position:center;
}
#text2{

    text-align:center;
}